<label>Name</label>
<p>{{input type="text" value=name class='form-control'}}</p>

<label>Instrument</label>
<p>{{input type="text" value=instrument class='form-control'}}</p>

<label>Instrument Type</label>
<p>{{input type="text" value=instrument_type class='form-control'}}</p>