<div class="form-container">
  {{partial 'runs/edit'}}
  <button class="btn btn-success" {{action 'createRun'}}>Create Run</button>
  <button class="btn btn-danger" {{action 'cancelRun'}}>Cancel Run</button>
</div>