.row#header
  .columns.large-11
    %h2
  .columns.large-1
    .button.small New
.row
  .columns#form-side
  %table.columns#table-side
    %thead
      %tr
        %th ID
        %th Name
        %th Date
        %th Instrument
        %th Instrument Type
    %tbody
    %tfoot

:javascript