<div class="form-container">
  {{partial 'read_groups/edit'}}
  <button class="btn btn-success" {{action 'save'}}>Done</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
</div>
