.mts {margin-top: 10px;}

.form-container {
  margin-top: 69px;
}

.active {
  font-weight: bold;
}


html, body {
  margin: 20px;
}

.btn-primary {
  font-weight:bold;
  font-size: 16px;
  line-height: 1.1;
}

.nav-tabs {
  font-size: 13px;
}

table {
  /* cellspacing */
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
th {
  /* This covers the th elements */
}
tr {
  /* This covers the tr elements */
}
th, td {
  /* cellpadding */
  padding: 0;
  height: 30px;
}

tr.active td{
  background-color: rgb(208, 155, 44) !important;
}
