<label>Library</label>
<p>{{input type="text" value=library class='form-control'}}</p>

<label>Barcode</label>
<p>{{input type="text" value=barcode class='form-control'}}</p>

<label>Sample</label>
<p>{{input type="text" value=sample class='form-control'}}</p>