<!DOCTYPE html>
<html>
<head>
  <title>BioProjects</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<script type="text/x-handlebars">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BioProjects</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Runs</a></li>
        <li><a href="#">Readgroups</a></li>
      </ul>
    </div>
  </nav>
</script>

<%= yield %>

</body>
</html>